html {
  /* propità che scrolla il sito  */
  scroll-behavior: smooth;
}


body {
    margin: 0;
}

header {
    background-color: rgb(161, 252, 255);
    display: flex;
    justify-content: space-between;
    align-items : center;
    height: 8vh;
    padding-left: 2%;
    padding-right: 2%;
}
.logo {
    color: green;
}

.hero {
    background-color: cornflowerblue;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.tauri {
    font-family: "Tauri", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .saira-stencil {
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .benvenuto {
    font-family: saira-stencil;
  }

  ul {
    list-style: none;
  }

  li {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }

  #menu  {
    /* all'inizio non si vede */
    display: none;
  }

  .menu {
    cursor: pointer;
  }

  .menu-lista > ul > li {
    text-align: center;
  
  }

  footer {
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logoScuola {
    height: 13vh;

  }

  .imglogo {
    height: 80%;
  }

  .info > a {
    text-decoration: none;
    background-color: darkcyan;
    color: white;
    padding: 10px 8px;
    border-radius: 10px;
} 

span {
  font-family: "Roboto", sans-serif;

}

footer > div {
  /* specifico la larghezza dei tre div nel footer e li metto in mezzo */
  width: 33.33333%;
  display: flex;
  justify-content: center;
}

.inizio {
  height: 80vh; 
  display: flex;
  /* se non ci stai vai a capo */
  flex-wrap: wrap;
  justify-content: center; /* centro i rettangoli nella pagina */
  align-items: center;  
}

.contenitoreuno {
  width: 40%;
  background-image: url(./img/gioco.jpeg);
  height: 35%;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.contenitoredue {
  width: 40%;
  background-image: url(./img/infirmatica.png);
  height: 35%;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.contenitoretre {
  width: 40%;
  background-image: url(./img/libri.jpg);
  height: 35%;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.contenitore {
  width: 40%;
  background-image: url(./img/musica.jpg);
  height: 35%;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

/* animazione quando passo con il mouse sui contenitori */
.contenitoreuno:hover {
  background-image: none;
  background-color: violet;
  transition: 0.3s; 
}
.contenitoredue:hover {
  background-image: none;
  background-color: violet;
  transition: 0.3s; 
}
.contenitoretre:hover {
  background-image: none;
  background-color: violet;
  transition: 0.3s; 
}
.contenitore:hover {
  background-image: none;
  background-color: violet;
  transition: 0.3s; 
}

.CV {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

/* personalizzo il riquadro del curriculum  */
.curriculum {
  width: 65%;
  border: 1px solid black;
  padding: 20px;
}

.intestaione {
  text-align: center;
}

.fascia-download {
  background-color:  lightseagreen;
  width: 100%;
  height: 10vh;
  margin-top: 3vh;
  display: flex;  
  align-items: center;
  justify-content: center;
}

.bottone {
  background-color: white;
  color: lightseagreen;
  font-family: "tauri";
  padding: 10px 20px;
  border-radius: 15px;
}

a {
  text-decoration: none;
}

.bottone:hover  {
  background-color: lightseagreen;
  color: white;
  border: 1px solid white;
}

.bonus {
  height: 50vh;

}

.testo {
  text-align: center;
  width: 60%; /* larghezza del div */
}

.intro-stage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.relazione-terza {
  display: flex;
  background-color: lightsteelblue;
  padding: 20px;
  border-bottom: 10px solid orange;
}
.relazione-seconda {
  display: flex;
  background-color: lightsteelblue;
  padding: 20px ; 
    border-bottom: 10px solid orange;
}

.relazione-seconda-gennaio {
  display: flex;
  background-color: lightsteelblue;
  padding: 20px ; 
}

.sx, .dx {
  width: 50%;
  padding: 5%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.immagine {
  width: 80%;
  padding: 3%;
}


